body {
    background-image: linear-gradient(to bottom right, #e4534c, #b94ee4);
    background-attachment: fixed;
}

.wrap {
    display: flex;
    justify-content: center;
    align-content: center;


}


.main {
    color: white;
    width: 80rem;
    height: 40rem;
    display: flex;
    flex-direction: row;
}

.p1,
.p2 {
    border: 3px solid black;
    box-shadow: black 4px 4px 4px;
    width: 50%;
    height: 40rem;
    border-radius: 10px;
    margin: 10px;
    backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.55);
}

.p1box,
.p2box {


}

.p1title,
.p2title {
    color: black;
    text-align: center;
    font-size: 250%;
    font-weight: bold;
}

.controls {
    justify-content: center;
    align-content: center;
    flex-direction: column;

}


.hold-dice,
.new-game {
    background-color: white;
    color: black;
    font-weight: bold;
    text-align: center;
    border: 2px solid white;
    border-radius: 25px;
    width: 10rem;
    height: 2rem;
    font-size: 125%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-top: auto;
    &.hold-dice {
        top: 7rem;
    }
    &.new-game {
        top: 35rem;
    }
    &.new-game:hover,
    &.hold-dice:hover {
        background-color: rgba(120, 120, 120, 1);
        border: solid 2px rgba(120, 120, 120, 1);
    }
}

.score {
    color: black;
    font-size: 200%;
    font-weight: bold;
    text-align: center;
    margin-top: 5rem;
}

.current-p1,
.current-p2 {
    border: solid black 3px;
    border-radius: 15px;
    color: black;
    width: 15rem;
    height: 5rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-top: 10rem;
    font-size: 150%;
    font-weight: bold;
}

.dice {
    color: black;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    font-size: 125%;
    position: absolute;
    margin-top: auto;
    background-color: white;
    border: 2px solid black;
    width: 5.2rem;
    height: 5.2rem;
    margin-right: auto;
    margin-left: auto;
    left: 0;
    right: 0;
    top: 18rem;
    overflow: hidden;
}
.dice-1 {
    position: absolute;
    visibility: visible;
    display: flex;
    justify-content: center;
    align-content: center;
}
.dice-2 {
    position: absolute;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-content: center;
}
.dice-3 {
    position: absolute;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-content: center;
}
.dice-4 {
    position: absolute;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-content: center;
}
.dice-5 {
    position: absolute;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-content: center;
}
.dice-6 {
    position: absolute;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-content: center;
}
